<p id="notice"><%= notice %></p>

<h1>Exame</h1>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Point Po</th>
      <th>Point Or</th>
      <th>Point N</th>
      <th>Point A</th>
      <th>Angle</th>
      <th></th>
    </tr>
  </thead>
  <tbody data-exams='exams-show' data-exams-patient-id='<%= @patient.id %>' data-exams-id='<%= @exam.id %>' >   
  </tbody>
</table>
<%= link_to 'Back', patient_path(@patient), class: "btn btn-secondary" %>

<div class="modal" id="myModal" tabindex="-1" role="dialog" data-exams='modal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content" data-exams='modal-content'>

    </div>
  </div>
</div>

